@page
@using Domain.BaseModels
@model ServiceHost.Areas.Panel.Pages.Manage.Users.EditUserModel
@{
  ViewData["Title"] = "ویرایش کاربر";
}

<section class="relative w-full p-6 mx-auto bg-white rounded-md shadow-md">
  <a asp-area="Panel" asp-page="/Manage/Users/Index">
    <svg class="absolute left-4 top-4" height="40px" width="40px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 487.622 487.622" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <circle style="fill:#EED26A;" cx="243.811" cy="243.811" r="243.811"></circle> <circle style="fill:#D97077;" cx="243.811" cy="243.811" r="243.811"></circle> <path style="fill:#CA6168;" d="M487.622,243.811c0-4.875-0.16-9.711-0.441-14.516l-129.826-93.017l-131.876,93.094L199.87,351.343 l154.131,110.005C433.285,421.108,487.622,338.807,487.622,243.811z"></path> <polygon style="fill:#FFFFFF;" points="199.869,351.343 357.354,351.343 276.415,243.811 357.354,136.279 199.869,136.279 118.931,243.811 "></polygon> </g> </g> </g></svg>
  </a>

  <h2 class="text-lg font-semibold text-gray-700 capitalize">ویرایش کاربر</h2>

  <div asp-validation-summary="ModelOnly" class="text-sm font-semibold text-red-500"></div>

  <form asp-page-handler="EditUser" method="post">
    <div class="grid grid-cols-1 gap-6 mt-4 sm:grid-cols-2">

      <input asp-for="EditUserDTO.Id" value="@Model.UserForEdit.Id" type="hidden" />

      <div>
        <label asp-for="EditUserDTO.UserName" class="text-gray-700">نام کاربری</label>
        <input asp-for="EditUserDTO.UserName" value="@Model.UserForEdit.UserName" aria-required="true" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
        <span asp-validation-for="EditUserDTO.UserName" class="text-sm font-semibold text-red-500"></span>
      </div>

      <div>
        <label asp-for="EditUserDTO.Email" class="text-gray-700">ایمیل</label>
        <input asp-for="EditUserDTO.Email" value="@Model.UserForEdit.Email" aria-required="true" type="email" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
        <span asp-validation-for="EditUserDTO.Email" class="text-sm font-semibold text-red-500"></span>
      </div>

      <div>
        <label asp-for="EditUserDTO.FirstName" class="text-gray-700">نام</label>
        <input asp-for="EditUserDTO.FirstName" value="@Model.UserForEdit.FirstName" aria-required="true" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
        <span asp-validation-for="EditUserDTO.FirstName" class="text-sm font-semibold text-red-500"></span>
      </div>

      <div>
        <label asp-for="EditUserDTO.LastName" class="text-gray-700">نام خانوادگی</label>
        <input asp-for="EditUserDTO.LastName" value="@Model.UserForEdit.LastName" aria-required="true" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
        <span asp-validation-for="EditUserDTO.LastName" class="text-sm font-semibold text-red-500"></span>
      </div>

      <div>
        <label asp-for="EditUserDTO.PhoneNumber" class="text-gray-700">شماره تماس</label>
        <input asp-for="EditUserDTO.PhoneNumber" value="@Model.UserForEdit.PhoneNumber" aria-required="true" class="text-right block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
        <span asp-validation-for="EditUserDTO.PhoneNumber" class="text-sm font-semibold text-red-500"></span>
      </div>

      <div>
        <label asp-for="EditUserDTO.Ballance" class="text-gray-700">موجودی حساب</label>
        <input asp-for="EditUserDTO.Ballance" type="number" value="@Model.UserForEdit.Ballance" aria-required="true" class="text-right block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
        <span asp-validation-for="EditUserDTO.Ballance" class="text-sm font-semibold text-red-500"></span>
      </div>

      <div>
        <label asp-for="EditUserDTO.Role" class="text-gray-700">نقش</label>
        <select asp-for="EditUserDTO.Role" aria-required="true" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
          @foreach (var role in Domain.BaseModels.Roles.GetRoles())
          {
            <option value="@role" selected="@(Model.UserForEdit.Role == role)">@Roles.TranslateRole(role)</option>
          }
        </select>
        <span asp-validation-for="EditUserDTO.Role" class="text-sm font-semibold text-red-500"></span>
      </div>
    </div>

    <div class="flex justify-end mt-6">
      <button class="px-8 py-2.5 w-full leading-5 text-white transition-colors duration-300 transform bg-gray-700 rounded-md hover:bg-gray-600 focus:outline-none focus:bg-gray-600">ویرایش کاربر</button>
    </div>
  </form>
</section>