@page
@using Domain.BaseModels
@model ServiceHost.Areas.Panel.Pages.Manage.Users.IndexModel
@{
  ViewData["Title"] = "مدیریت کاربران";
}

@section Styles {
  <link rel="stylesheet" href="~/css/flowbite.min.css" />
}

<div class="container w-full mx-auto px-2 mt-4">

  <div class="flex items-center gap-3 text-gray-700 mb-12">
    <p class="text-xl font-semibold">
      مدیریت کاربران
    </p>
    <p class="text-sm px-2 bg-blue-200 rounded-full">
      @Model.Users.Count کاربر
    </p>
  </div>

  <a class="p-2 px-5 bg-blue-600 hover:bg-blue-500 text-white text-lg rounded shdadow text-center w-fit" asp-area="Panel" asp-page="/Manage/Users/AddUser">
    افزودن کاربر
  </a>

  <!--Card-->

  <div id="recipients" class="p-8 mt-6 rounded shadow bg-white">
    <table id="example"
           class="stripe hover"
           style="width: 100%; padding-top: 1em; padding-bottom: 1em; text-align: center !important;">
      <thead>
        <tr>
          <th data-priority="1">نام</th>
          <th data-priority="2">ایمیل</th>
          <th data-priority="3">شماره تماس</th>
          <th data-priority="4">نقش</th>
          <th data-priority="5">تنظیمات</th>
        </tr>
      </thead>
      <tbody>
        @foreach (var user in Model.Users)
        {
          <tr>
            <td>
              <div class="flex items-center gap-2 text-center">
                @if (user.Image == "default.png" || user.Image == null)
                {
                  <img class="w-8 h-8 rounded-full ring-1 ring-lime-400" src="~/images/default.png" alt="" />
                }
                else
                {
                  <img class="w-8 h-8 rounded-full ring-1 ring-lime-400" src="~/images/ProfilePhotos/@user.UserName/@user.Image" alt="" />
                }
                <a asp-area="Panel" asp-page="/Manage/Users/UserInfo" asp-route-userId="@user.Id" class="hover:text-blue-800">
                  @user.FirstName @user.LastName
                </a>
              </div>
            </td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>
              @if (@user.Role == Roles.Admin)
              {
                <p>مدیر</p>
              }
              else if (@user.Role == Roles.Teacher)
              {
                <p>استاد</p>
              }
              else if (@user.Role == Roles.Student)
              {
                <p>دانشجو</p>
              }
              else
              {
                <p>نامشخص</p>
              }
            </td>
            <td>
              <div class="flex items-center justify-center gap-2 text-sm-center">
                <button data-modal-target="authentication-modal-@user.Id" data-modal-toggle="authentication-modal-@user.Id">
                  <svg class="w-7 h-7" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M512 512m-448 0a448 448 0 1 0 896 0 448 448 0 1 0-896 0Z" fill="#4CAF50"></path><path d="M448 298.666667h128v426.666666h-128z" fill="#FFFFFF"></path><path d="M298.666667 448h426.666666v128H298.666667z" fill="#FFFFFF"></path></g></svg>
                </button>
                <a asp-area="Panel" asp-page="/Manage/Users/EditUser" asp-route-userId="@user.Id"><p class="p-1 bg-yellow-400 rounded w-16">ویرایش</p></a>
                <a asp-area="Panel" asp-page="/Manage/Users/DeleteUser" asp-route-userId="@user.Id"><p class="p-1 bg-red-400 rounded w-16">حذف</p></a>
                <a asp-area="Panel" asp-page="/Manage/Users/AdminResetPassword" asp-route-userId="@user.Id" class="flex items-center justify-center bg-blue-500 w-8 h-[32px] rounded">
                  <svg class="w-6 h-6" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M15.6807 14.5869C19.1708 14.5869 22 11.7692 22 8.29344C22 4.81767 19.1708 2 15.6807 2C12.1907 2 9.3615 4.81767 9.3615 8.29344C9.3615 9.90338 10.0963 11.0743 10.0963 11.0743L2.45441 18.6849C2.1115 19.0264 1.63143 19.9143 2.45441 20.7339L3.33616 21.6121C3.67905 21.9048 4.54119 22.3146 5.2466 21.6121L6.27531 20.5876C7.30403 21.6121 8.4797 21.0267 8.92058 20.4412C9.65538 19.4167 8.77362 18.3922 8.77362 18.3922L9.06754 18.0995C10.4783 19.5045 11.7128 18.6849 12.1537 18.0995C12.8885 17.075 12.1537 16.0505 12.1537 16.0505C11.8598 15.465 11.272 15.465 12.0067 14.7333L12.8885 13.8551C13.5939 14.4405 15.0439 14.5869 15.6807 14.5869Z" stroke="#ffffff" stroke-width="1.5" stroke-linejoin="round"></path> <path d="M17.8853 8.29353C17.8853 9.50601 16.8984 10.4889 15.681 10.4889C14.4635 10.4889 13.4766 9.50601 13.4766 8.29353C13.4766 7.08105 14.4635 6.09814 15.681 6.09814C16.8984 6.09814 17.8853 7.08105 17.8853 8.29353Z" stroke="#ffffff" stroke-width="1.5"></path> </g></svg>
                </a>
              </div>
            </td>

            <!-- Main modal -->
            <div id="authentication-modal-@user.Id" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
              <div class="relative p-4 w-full max-w-md max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                  <!-- Modal header -->
                  <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      افزودن @user.FirstName @user.LastName به دوره
                    </h3>
                    <button type="button" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="authentication-modal-@user.Id">
                      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                      </svg>
                      <span class="sr-only">بستن</span>
                    </button>
                  </div>
                  <!-- Modal body -->
                  <div class="p-4 md:p-5">
                    <form asp-page-handler="AddUserToCourse" method="post">

                      <input asp-for="UserToCourse.UserId" value="@user.Id" type="hidden" />

                      <div>
                        <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">انتخاب دوره</label>
                        <select asp-for="UserToCourse.CourseId" aria-required="true" class="block w-full px-4 py-2 mt-2 text-gray-700 bg-white border border-gray-200 rounded-md focus:border-blue-400 focus:ring-blue-300 focus:ring-opacity-40 focus:outline-none focus:ring">
                          @foreach (var course in Model.Courses)
                          {
                            <option value="@course.Course.Id">@course.Course.Title - @course.Teacher.FirstName @course.Teacher.LastName</option>
                          }
                        </select>
                      </div>

                      <button class="w-full mt-4 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">افزودن کاربر به دوره</button>

                    </form>
                  </div>
                </div>
              </div>
            </div>
          </tr>
        }
      </tbody>
    </table>
  </div>
  <!--/Card-->
</div>

@section Scripts {
  <script src="~/js/flowbite.min.js"></script>

  <script>
    $(document).ready(function () {
      var table = $("#example").DataTable({
        responsive: true,
        language: {
          search: "جستجو: ",
          lengthMenu: "نمایش _MENU_ ورودی",
          info: "نمایش _START_ عدد _END_ از _TOTAL_ ورودی",
          infoEmpty: "نمایش 0 عدد 0 از 0 ورودی",
          infoFiltered: "(فیلتر شده از _MAX_ ورودی)",
          paginate: {
            first: "اولین",
            previous: "قبلی",
            next: "بعدی",
            last: "آخرین",
          },
        },
        columns: [
          { searchable: true, orderable: true },
          { searchable: true, orderable: true },
          { searchable: false, orderable: false },
          { searchable: false, orderable: false },
          { searchable: false, orderable: false },
        ],
        initComplete: function () {
          var api = this.api();
          api.on("draw", function () {
            if (api.rows({ search: "applied" }).data().length === 0) {
              $(".dataTables_empty").text("اطلاعاتی برای نمایش پیدا نشد");
            }
          });
        },
      })
        .columns.adjust()
        .responsive.recalc();
    });
  </script>
}