@page
@using Domain.BaseModels
@model ServiceHost.Areas.Panel.Pages.Manage.Users.UserInfoModel
@{
  ViewData["Title"] = "مشخصات کاربر";
}

<section class="relative w-full p-6 mx-auto bg-white rounded-md shadow-md">
  <a asp-area="Panel" asp-page="/Manage/Users/Index">
    <svg class="absolute left-4 top-4" height="40px" width="40px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 487.622 487.622" xml:space="preserve" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <circle style="fill:#EED26A;" cx="243.811" cy="243.811" r="243.811"></circle> <circle style="fill:#D97077;" cx="243.811" cy="243.811" r="243.811"></circle> <path style="fill:#CA6168;" d="M487.622,243.811c0-4.875-0.16-9.711-0.441-14.516l-129.826-93.017l-131.876,93.094L199.87,351.343 l154.131,110.005C433.285,421.108,487.622,338.807,487.622,243.811z"></path> <polygon style="fill:#FFFFFF;" points="199.869,351.343 357.354,351.343 276.415,243.811 357.354,136.279 199.869,136.279 118.931,243.811 "></polygon> </g> </g> </g></svg>
  </a>

  <h2 class="text-lg font-semibold text-gray-700 capitalize">اطلاعات کاربر</h2>

  <div>
    @if (Model.UserDetails.Image == null || Model.UserDetails.Image == "default.png")
    {
      <img draggable="false" class="max-w-[250px] aspect-[1/1] object-cover border shadow-lg mx-auto rounded-lg my-8" src="~/images/default.png" alt="" />
    }
    else
    {
      <img draggable="false" class="max-w-[250px] aspect-[1/1] object-cover border shadow-lg mx-auto rounded-lg my-8" src="~/images/ProfilePhotos/@Model.UserDetails.UserName/@Model.UserDetails.Image" alt="" />
    }
  </div>

  <div class="border border-gray-300 shadow-sm rounded-lg overflow-hidden mx-auto mt-16">
    <table class="w-full text-sm leading-5">
      <tbody>
        <tr>
          <td class="py-3 px-4 text-right font-medium text-gray-600">نام کاربری</td>
          <td class="py-3 px-4 text-right">@Model.UserDetails.UserName</td>
        </tr>
        <tr class="bg-gray-50">
          <td class="py-3 px-4 text-right font-medium text-gray-600">ایمیل</td>
          <td class="py-3 px-4 text-right">@Model.UserDetails.Email</td>
        </tr>
        <tr>
          <td class="py-3 px-4 text-right font-medium text-gray-600 pl-8">شماره ی تماس</td>
          <td class="py-3 px-4 text-right">@Model.UserDetails.PhoneNumber</td>
        </tr>
        <tr class="bg-gray-50">
          <td class="py-3 px-4 text-right font-medium text-gray-600 pl-8">نام</td>
          <td class="py-3 px-4 text-right">@Model.UserDetails.FirstName</td>
        </tr>
        <tr>
          <td class="py-3 px-4 text-right font-medium text-gray-600">نام خانوادگی</td>
          <td class="py-3 px-4 text-right">@Model.UserDetails.LastName</td>
        </tr>
        <tr class="bg-gray-50">
          <td class="py-3 px-4 text-right font-medium text-gray-600">نقش</td>
          <td class="py-3 px-4 text-right">@Roles.TranslateRole(Model.UserDetails.Role)</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>